@import url(./reset.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body {
  background-color: #ffffff;
  line-height: 1.5;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #ce2160;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.loginPage {
  width: 80vw;
  margin: 0 auto;
}

.logo {
  margin: 70px;
}

.logo img {
  max-width: 240px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.box {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
}

.login-form {
  box-sizing: border-box;
  width: 100%;
  padding: 36px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 12px 12px;
  background: #fff;
}

.tab {
  display: flex;
  margin-bottom: -5px;
  width: 100%;
}

.tab button {
  padding: 14px;
  font-size: 1rem;
  font-weight: 500;

  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 12px 12px 0 0;

  color: #333;
  background-color: #f5f5f5;

  cursor: pointer;
  z-index: 1;
  position: relative;
}

.tab button.active {
  background-color: #fff;
  z-index: 2;
}

input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 14px;
  margin-bottom: 12px;
  border: none;
  border-bottom: 1px solid #ccc;

  transition: border-bottom 0.2s ease;
}

.login-form > button {
  margin-top: 18px;
}

.footer-link {
  text-align: center;
  margin-top: 24px;
  font-size: 0.9rem;
  color: #555;
}

.footer-link a {
  color: #555;
  text-decoration: none;
  margin: 0 4px;
}

/* ⭐GNB(기본) 스타일 시작 */

.gnb {
  padding: 10px 40px;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
}

.gnb-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  gap: 16px;
}

.search {
  flex: 1;
  margin: 0 12px;
  position: relative;
  width: 100%;
  max-width: 400px;
}
.gnbInput {
  width: 100%;
  padding: 10px 40px 10px 16px;
  border: 3px solid #ce2160;
  border-radius: 24px;
  margin: 0;
}

.searchBtn {
  width: 28px;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.gnbLogo {
  margin: 0;
}

.gnbLogo img {
  width: 124px;
  height: auto;
}

/* 아이콘 관련 스타일 */
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.icons > a {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-decoration: none;
}

.cart,
.mypage {
  width: 32px;
  height: 32px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.cart {
  background-image: url("../assets/icon-shopping-cart.svg");
}

.mypage {
  background-image: url("../assets/icon-user.svg");
}

.iconSpan {
  color: #555;
  margin-top: 2px;
  font-size: 0.7rem;
}

input:focus {
  border-bottom: 3px solid #ce2160;
  outline: none;
}

.error-msg {
  display: none;
  color: #eb5757;
  font-size: 0.85rem;
  margin-top: 12px;
}

/* 회원가입 폼 스타일링 */

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  max-width: 500px;
  margin: 0 auto;
  padding: 36px;
  background: #fff;
  border-radius: 0 0 12px 12px;
  border: #ccc solid 1px;
}

.signup-form label {
  color: #aaa;
  font-weight: 300;
}

.signup-form input {
  width: 100%;
  height: 50px;
  padding: 12px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.signup-form button[type="submit"] {
  width: 100%;
  padding: 14px;
  background-color: #ce2160;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.id-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.id-check > button {
  width: 40%;
  height: 50px;
  margin-left: 12px;
}

.pw-box {
  position: relative;
}

.pw-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 25%;
  left: 90%;

  background-image: url("/assets/icon-check-off.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.pw-icon.valid {
  background-image: url("/assets/icon-check-on.svg");
}

.input-error {
  border: 1px solid #eb5757 !important;
}

/* 휴대폰번호 입력창 */
.phoneGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.phoneNum {
  color: #aaa;
  width: 80%;
  height: 50px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  appearance: none;

  background-image: url("../assets/icon-down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 12px bottom 16px;
  background-size: 16px;
}

/* 체크박스 및 약관 */

.check-agree {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: color 0.3s;
}

.check-agree.active {
  color: #ce2160;
}

#agree {
  width: 16px;
  height: 16px;
  accent-color: #ce2160;
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-btn.active {
  background-color: #ce2160;
  cursor: pointer;
}
